<div class="card flex justify-center p-4 w-full">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="flex flex-col gap-4 w-full max-w-xl" novalidate>

    <!-- Name -->
    <p-floatlabel variant="on">
      <input pInputText id="name" name="name" required [(ngModel)]="user.name" #nameModel="ngModel" class="w-full"/>
      <label for="name">Name</label>
    </p-floatlabel>
    <p-message *ngIf="nameModel.invalid && (nameModel.touched || contactForm.submitted)" severity="error"
      variant="simple">
      Name is required
    </p-message>

    <!-- Email -->
    <p-floatlabel variant="on">
      <input pInputText type="email" id="email" name="email" required email [(ngModel)]="user.email"
        #emailModel="ngModel" class="w-full"/>
      <label for="email">Email</label>
    </p-floatlabel>

    <p-message
      *ngIf="emailModel.invalid && emailModel.errors?.['required'] && (emailModel.touched || contactForm.submitted)"
      severity="error" variant="simple">
      Email is required.
    </p-message>
    <p-message
      *ngIf="emailModel.invalid && emailModel.errors?.['email'] && (emailModel.touched || contactForm.submitted)"
      severity="error" variant="simple">
      Please enter a valid email.
    </p-message>

    <!-- Phone -->
    <p-floatlabel variant="on">
      <input pInputText id="phone" name="phone" [(ngModel)]="user.phone" class="w-full"/>
      <label for="phone">Phone Number</label>
    </p-floatlabel>

    <!-- Message -->
    <p-floatlabel variant="on">
      <textarea pTextarea id="message" name="message" rows="5" required [(ngModel)]="user.message" class="w-full"
        placeholder="Give us a brief overview of your project">
                </textarea>
      <label for="message">Message</label>
    </p-floatlabel>

    <!-- Submit Button -->
    <p-button type="submit" severity="secondary" label="Submit" [disabled]="contactForm.invalid" />

  </form>
</div>