@import "tailwindcss";
@import "primeicons/primeicons.css";

@layer components {
  .tag-info {
    --p-tag-background: #f8fafc !important; /* slate-50 */
    --p-tag-border-color: #e2e8f0 !important; /* slate-200 */
    --p-tag-color: #334155 !important; /* slate-700 */
  }
}

@layer base {
  html, body {
    overflow-x: hidden;
  }
}

