@import "tailwindcss";
@import "primeicons/primeicons.css";

@layer components {
  .tag-info {
    --p-tag-background: #f8fafc !important; /* slate-50 */
    --p-tag-border-color: #e2e8f0 !important; /* slate-200 */
    --p-tag-color: #334155 !important; /* slate-700 */
  }
}

@layer base {
  html, body {
    overflow-x: hidden;
  }
}

/* Force menubar layout */
.p-menubar {
  display: flex !important;
  align-items: center;
}

/* Logo container */
.p-menubar-start {
  margin-right: auto;
}

/* Menu list container */
.p-menubar-root-list {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100%;
}

